/* CategoryCard.css */

.category-card {
  width: 300px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  flex: 0 0 auto; /* Maintain the width of each category */

  &:hover {
    transform: scale(1.05);
  }
}

@media only screen and  (max-width: 768px) {
  .category-card{
    width: 150px;
    height: 75px;
  }
}

.title {
  text-align: left;
  font-weight: bold;
}


