@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --h2-font-size: 25px;
  --h2-font-size-2: 30px;
  --h3-font-size: 16px;
  --h3--font-size-2: 18px;
  --p--font-size: 14px;
  --span--font-size: 13px;


  --background-color: #F0F4FC;
  --highlight-color: #E74C1B;
  --font-color-primary: #000000;
  --font-color-secondary: #A1A1A1;

}

.h3{
  font-size: var(--h3-font-size);
}
.h3-2{
  font-size: var(--h3--font-size-2);
}
.h2{
  font-size: var(--h2-font-size);
}
.h2-2{
  margin: 0px;
  font-size: var(--h2-font-size-2);
}
.p{
  font-size: var(--p--font-size);
}
.span{
  font-size: var(--span--font-size);
}
.font-color-secondary{
  color: var(--font-color-secondary);
}

.hover:hover{
  transition: all 0.2s;
  color: var(--highlight-color);
}

.bold {
  font-weight: bold;
}
.highlight {
  color:var(--highlight-color)
}